/*====================================================================================
======================================================================================

				88888888ba
				88      "8b                                       ,d
				88      ,8P                                       88
				88aaaaaa8P'   ,adPPYba,  ,adPPYba,   ,adPPYba,  MM88MMM
				88""""88'    a8P_____88  I8[    ""  a8P_____88    88
				88    `8b    8PP"""""""   `"Y8ba,   8PP"""""""    88
				88     `8b   "8b,   ,aa  aa    ]8I  "8b,   ,aa    88,
				88      `8b   `"Ybbd8"'  `"YbbdP"'   `"Ybbd8"'    "Y888

======================================================================================
======================================================================================
                Meyers Reset
======================================================================================
====================================================================================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*====================================================================================
======================================================================================

				88b           d88              88
				888b         d888              ""
				88`8b       d8'88
				88 `8b     d8' 88  ,adPPYYba,  88  8b,dPPYba,
				88  `8b   d8'  88  ""     `Y8  88  88P'   `"8a
				88   `8b d8'   88  ,adPPPPP88  88  88       88
				88    `888'    88  88,    ,88  88  88       88
				88     `8'     88  `"8bbdP"Y8  88  88       88

======================================================================================
======================================================================================
                Begin Styles Here
======================================================================================
====================================================================================*/

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: darkblue;
}

#dash-grid {
	width: 93%;
	height: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 32% 32% 32%;
	grid-template-rows: 50% 50%;
	grid-column-gap: 2%;
}

.grid-block {
	background-color: grey;
	color: white;
}

h2 {
	font-size: 2em;
}

p {
	font-size: 1.2em;
}

#calorie-button-wrap {
	display: none;
}

#calorie-button {
	display: none;
}

#hex1 {
	height: 200px;
	width: 200px;
}

#color1 {

}

.hexagon-wrapper {
	text-align: center;
	margin: 20px;
	position: relative;
	display: inline-block;
}

.hexagon {
	height: 100%;
	width: calc(100% * 0.57735);
	display: inline-block;
}

.hexagon:before {
	position: absolute;
	top: 0;
	right: calc((100% / 2) - ((100% * 0.57735) / 2));
	background-color: inherit;
	height: inherit;
	width: inherit;
	content: '';
	transform: rotateZ(60deg);
}

.hexagon:after {
	position: absolute;
	top: 0;
	right: calc((100% / 2) - ((100% * 0.57735) / 2));
	background-color: inherit;
	height: inherit;
	width: inherit;
	content: '';
	transform: rotateZ(-60deg);
}

.hexagon:hover {
	transform: rotateZ(90deg);
	transition: 1s;
	transform-style: preserve-3d;
}

.hexagon:hover::before {
	transform: rotateZ(calc(90deg + 60deg));
	transition: 1s;
	height: inherit;
  	width: inherit;
  	transform-style: preserve-3d;
}

.hexagon:hover::after {
	transform: rotateZ(calc(90deg - 60deg));
	transition: 1s;
	height: inherit;
  	width: inherit;
  	transform-style: preserve-3d;
}

/*===================================================================================================================================================
=====================================================================================================================================================

88b           d88                       88  88                    ,ad8888ba,                                         88
888b         d888                       88  ""                   d8"'    `"8b                                        ""
88`8b       d8'88                       88                      d8'        `8b
88 `8b     d8' 88   ,adPPYba,   ,adPPYb,88  88  ,adPPYYba,      88          88  88       88   ,adPPYba,  8b,dPPYba,  88   ,adPPYba,  ,adPPYba,
88  `8b   d8'  88  a8P_____88  a8"    `Y88  88  ""     `Y8      88          88  88       88  a8P_____88  88P'   "Y8  88  a8P_____88  I8[    ""
88   `8b d8'   88  8PP"""""""  8b       88  88  ,adPPPPP88      Y8,    "88,,8P  88       88  8PP"""""""  88          88  8PP"""""""   `"Y8ba,
88    `888'    88  "8b,   ,aa  "8a,   ,d88  88  88,    ,88       Y8a.    Y88P   "8a,   ,a88  "8b,   ,aa  88          88  "8b,   ,aa  aa    ]8I
88     `8'     88   `"Ybbd8"'   `"8bbdP"Y8  88  `"8bbdP"Y8        `"Y8888Y"Y8a   `"YbbdP'Y8   `"Ybbd8"'  88          88   `"Ybbd8"'  `"YbbdP"'


=====================================================================================================================================================
=====================================================================================================================================================
                Media Queries
=====================================================================================================================================================
===================================================================================================================================================*/

/*====================================================================================
======================================================================================

88b           d88               88           88  88
888b         d888               88           ""  88
88`8b       d8'88               88               88
88 `8b     d8' 88   ,adPPYba,   88,dPPYba,   88  88   ,adPPYba,
88  `8b   d8'  88  a8"     "8a  88P'    "8a  88  88  a8P_____88
88   `8b d8'   88  8b       d8  88       d8  88  88  8PP"""""""
88    `888'    88  "8a,   ,a8"  88b,   ,a8"  88  88  "8b,   ,aa
88     `8'     88   `"YbbdP"'   8Y"Ybbd8"'   88  88   `"Ybbd8"'

======================================================================================
======================================================================================
                Mobile Styles
======================================================================================
====================================================================================*/

@media only screen and (max-width: 1000px) {

/*====================================================================================
======================================================================================
                Calorie and Food Styles
======================================================================================
====================================================================================*/
	#calorie-button-wrap {
		display: block;
		position: relative;
	}

	#calorie-button {
		width: 80%;
		height: 5vw;
		position: absolute;
		display: block;
		font-size: 4vw;
	}
}
